@page
@model AbbyWeb.Pages.Admin.Notes.IndexModel
@{
}



<div class="container p-3">
    <div class="row pt-12">
        <div class="col-6">
            <h2 class="text-primary">Notes List</h2>
        </div>
        <br/>
        <div class="col-6">
            <a asp-page="create" class="btn btn-primary">
              <i class="bi bi-plus-square"></i> &nbsp;Create New Note
            </a>
        </div>
    </div>

    <br /> 

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Note Title
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.Notes)
            {
                <tr>
                    <td width="50%"> @obj.Title </td>
                    <td width="30%"> @obj.Date </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                        <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>
                        </a>
                            </div>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
</div>